* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    min-height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cacdce;
}

.headerF {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #ffffff;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
    width: 18%;
    border-right: 1px solid #cacdce;
}

.linkedIn-icon {
    width: 25px;
    height: 25px;
}

.search-container {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #cacdce;
}

.search-input {
    width: 120px;
    height: 20px;
    border: 1px solid #cacdce;
    border-radius: 7px;
    font-size: 12px;
}

.h-word {
    width: 40%;
    border-right: 1px solid #cacdce;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 29px;
}

#nav-bar ul {
    padding-top: 21px;
}

a {
    text-decoration: none;
    color: #535760;
    transition: transform 0.3s ease; 
    font-size: 14px;
}

/* a:hover {
    transform: scale(1.1);
} */

.colored {
    color: #f78c8e;
}

.icons {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #cacdce;
    gap: 22px;
}

.size-6 {
    width: 20px;
    height: 20px;
}

.message {
    color: #92dba8;
}

.bell {
    color: #f1c40f;
}

.person {
    color: #9b58b6;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
}

.avatar-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.headerS {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #ffffff;
    border-top: 1px solid #cacdce;
    padding-left: 200px;
}

.headerS ul {
    font-size: 12px;
    gap: 40px;
    color: #535760;
}

/* .underline {
    border-bottom: 3px solid #5eb5e6;
    display: inline-block;
    padding-bottom: -4px;
} */

main {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* margin: 0 auto; */
}

.leftsidebar {
    width: 250px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cacdce;
    padding: 20px 10px;
}

.leftsidebar1 {
    width: auto;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cacdce;
    gap: 6px;
}

.bill-gates {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.leftsidebar1 span {
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.fir {
    font-size: 12px;
    color: #535760;
}

.sec {
    font-size: 12px;
    color: #cacdce;
}

.follow-btn {
  padding: 10px 20px;
  background: #5eb5e6;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100px;
  height: 30px;
}

.connect-btn {
  padding: 10px 20px;
  background: #ffffff;
  color: #5eb5e6;
  border: 1px solid #5eb5e6;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100px;
  height: 30px;
}

.leftsidebar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 15%;
    border-bottom: 1px solid #cacdce;
}

.firs {
    border-right: 1px solid #cacdce;
    padding: 10px;
}

.firs p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.firs span {
    font-size: 10px;
    color: #cacdce;
}

.seco {
    padding: 20px;
}

.seco p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.seco span {
    font-size: 10px;
    color: #cacdce;
}

.leftsidebar3 {
    width: auto;
}