* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    min-height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cacdce;
}

.headerF {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #ffffff;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
    width: 18%;
    border-right: 1px solid #cacdce;
}

.linkedIn-icon {
    width: 25px;
    height: 25px;
}

.search-container {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #cacdce;
}

.search-input {
    width: 120px;
    height: 20px;
    border: 1px solid #cacdce;
    border-radius: 7px;
    font-size: 12px;
}

.h-word {
    width: 40%;
    border-right: 1px solid #cacdce;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 29px;
}

#nav-bar ul {
    padding-top: 21px;
}

a {
    text-decoration: none;
    color: #535760;
    transition: transform 0.3s ease; 
    font-size: 14px;
}

/* a:hover {
    transform: scale(1.1);
} */

.colored {
    color: #f78c8e;
}

.icons {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #cacdce;
    gap: 22px;
}

.size-6 {
    width: 20px;
    height: 20px;
}

.message {
    color: #92dba8;
}

.bell {
    color: #f1c40f;
}

.person {
    color: #9b58b6;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
}

.avatar-icon, .avatar2-icon, .avatar3-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.headerS {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #ffffff;
    border-top: 1px solid #cacdce;
    padding-left: 200px;
}

.headerS ul {
    font-size: 12px;
    gap: 40px;
    color: #535760;
}

/* .underline {
    border-bottom: 3px solid #5eb5e6;
    display: inline-block;
    padding-bottom: -4px;
} */

main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.leftsidebar {
    width: 200px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #cacdce;
}

.leftsidebar1 {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cacdce;
    gap: 6px;
}

.bill-gates {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.leftsidebar1 span {
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.fir {
    font-size: 12px;
    color: #535760;
}

.sec {
    font-size: 12px;
    color: #cacdce;
}

.follow-btn {
    padding: 10px 20px;
    background: #5eb5e6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100px;
    height: 30px;
}

.connect-btn {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background: #ffffff;
    color: #5eb5e6;
    border: 1px solid #5eb5e6;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100px;
    height: 30px;
    gap: 4px;
}

.arrow {
    width: 18px;
    height: 18px;
}

.leftsidebar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #cacdce;
    padding: 0 10px;
}

.firs {
    border-right: 1px solid #cacdce;
    padding: 15px;
}

.firs p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.firs span {
    font-size: 10px;
    color: #cacdce;
}

.seco {
    padding: 10px;
}

.seco p {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.seco span {
    font-size: 10px;
    color: #cacdce;
}

.leftsidebar3 {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #cacdce;
    padding-left: 20px;
    padding-top: 10px;
}

.lsb3 {
    color: #cacdce;
    width: 12px;
    height: 12px;
    padding: auto;
}

.leftsidebar3 a {
    font-size: 10px;
    color: #cacdce;
}

.size-3 {
    width: 12px;
    height: 12px;
    color: #cacdce;
}

.leftsidebar4 {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    color: #cacdce;
    padding-left: 20px;
}

.middlecontent {
    width: 600;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.middlecontent1 {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cacdce;
}

.middlecontent1F {
    width: calc(100% + 20px);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    border-bottom: 1px solid #cacdce;
}

.middlecontent1F h2 {
    font-size: 16px;
    font-weight: 500;
}

.arowMC {
    width: 25px;
    height: 25px;
    padding: 7px;
    background-color: transparent;
    border-radius: 50%;
    color: #072a7d;
    border: 1px solid #072a7d;
}

.article {
    width: 150px;
    height: 155px;
}

.middlecontent1S {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 12px;
}

.mc1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mc1 p {
    font-size: 11px;
    color: black;
    font-weight: 500;
}

.mc1 span {
    font-size: 10px;
    color: #cacdce;
}

.middlecontent2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 6px;
    border: 1px solid #cacdce;
    margin-top: 20px;
    gap: 10px;
}

.middlecontent2F {
    width: calc(100% + 14px);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    border-bottom: 1px solid #cacdce;
}

.middlecontent2F h2 {
    font-size: 16px;
    font-weight: 500;
}

.One {
    display: flex;
    flex-direction: row;
    /* padding: 12px; */
    gap: 8px;
}

.document {
    width: 20px;
    height: 20px;
}

.one {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.one h3 {
    font-size: 17px;
    color: #535760;
    font-weight: 400;
}

.one p {
    font-size: 13px;
    color: #535760;
}

.middlecontent2T {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.briefcase {
    width: 20px;
    height: 20px;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.two h3 {
    font-size: 17px;
    color: #535760;
    font-weight: 400;
}

.two ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.two ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.two ul li a, .three ul li a {
    color: #2656c6;
}

.two ul li a:hover, .three ul li a:hover {
    text-decoration: underline;
}

.two ul li::before {
    content: "•"; 
    color: #000;
    font-weight: bold;
    margin-right: 2px;
    flex-shrink: 0;
}

.li1, .li2 {
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
}

.microsoft-icon, .youtube-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.building {
    width: 20px;
    height: 20px;
}

.middlecontent2Fo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.three {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.three h3, .four h3 {
    font-size: 17px;
    color: #535760;
    font-weight: 400;
}

.three ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.three ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.three ul li::before {
    content: "•"; 
    color: #000;
    font-weight: bold;
    margin-right: 2px;
    flex-shrink: 0;
}

.li3, .li4 {
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
}

.middlecontent2Fi {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.four {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fouur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}

.fourr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 130px;
}

.fouur1 {
    width: 25px;
    height: 25px;
    padding: 7px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 14px;
}

.fouur2 {
    width: 35px;
    height: 35px;
    padding: 7px;
    background-color: #f1f1f1;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 6px;
}

.middlecontent2Si {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.five {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.five h3 {
    font-size: 17px;
    color: #535760;
    font-weight: 400;
}

.fivee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 13px;
}

